<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No user found</title>
</head>
<body>
    <h1>A user with the given credentials is not in our database, please recheck your password, or create a new account.</h1>
    <a href="<%= url %>">Signup</a>
</body>
</html>
