<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <div>

    
    <form method="POST", action="/user/signup">
        <br>
        <label> Enter Full name:</label>
        
        <input type="text" required name="username">
        <br>
        <label> Enter valid email:</label>
        
        <input type="email" required name="useremail">
        <br>
        <label> Enter your password:</label>
        <input type="text" required name="userpass"> 

        
         <button type="submit"> Submit</button>



    </form>
</div>
    
</body>
</html>